<!DOCTYPE html>
<html lang="zh-CN">
<head>
#parse("include/include_head.vm")
<title>Aube后台节目管理</title>
</head>
<body>
#parse("include/include_header.vm")
<div class="section-preview">
	<div class="container">
		<div class="row" >
    	</div>
    	<div class="row">
    		<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<a class="btn" data-toggle='modal' data-target='#showModal' href="${houtaiPath}admin/show/getShowDetail.xhtml" role="button">
						<img src="${staticPath}images/video/default_show.png?v=$!VmUtils.jsVersion" alt="新建">
					</a>
					<div class="caption">
						<h3>新增节目单</h3>
						<p></p>
						<p><a class="btn btn-success" data-toggle='modal' data-target='#showModal' href="${houtaiPath}admin/show/getShowDetail.xhtml" role="button">新增</a></p>
					</div>
				</div>
			</div>
    		#foreach($show in $showList)
    		<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="show-list">
						<a href="${houtaiPath}admin/video/list.xhtml?showid=$!show.showid">
							<img src="$!{staticPath}$!show.picInfo" alt="$show.showName">
						</a>
					</div>
					<div class="caption">
						<h3>$show.showName</h3>
						<p>$show.showDesc</p>
						<p><a data-toggle='modal' data-target='#showModal' href="${houtaiPath}admin/show/getShowDetail.xhtml?showid=$show.realId()" class="btn btn-danger" role="button">修改</a></p>
					</div>
				</div>
			</div>
    		#end
    	</div>
	</div> 
</div>
<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel"  aria-hidden="false" >
	<div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	</div>
</div>
#parse("include/include_bottom.vm")
<script type="text/javascript">
$(document).ready(function () {
	$('#showModal').on('hide.bs.modal', function () {
		$('#showModal').removeData('bs.modal');
	});
});
</script>
</body>
</html>