<div class="modal-header item-model">
	<h2 class="modal-title icon_AD" id="myModalLabel">添加修改消息</h2>
</div>
<div class="modal-body" id="modalbody">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h5><strong>物品信息</strong></h5>
		</div>
		<div class="panel-body">
		<form id="timelineForm" method="post" class="form-horizontal" action="">
			#set($uploadPic=true)
			#set($textMap={"tlTitle":"物品标题","tlDesc":"物品描述"})
			#set($picInfoDsc="图片")
			#parse("admin/video/timeline/timeline_common.vm")
			<div class="col-sm-9 col-sm-offset-8 alert-dismissible">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-success">确定</button>
			</div>
		</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$.validator.setDefaults({
	submitHandler: function (form) {
		alert("暂不支持");
		return false;
		if ($("#picInfo").val() == '') {
			alert("请上传图片")
			return false;
		}
		var params = $(form).serialize();
		$.post('${houtaiPath}admin/video/saveTimelineInfo.xhtml',params,function(result){
			eval(result);
			if(data.success) {
				location.reload();
			} else {
				alert(data.errmsg);
				return false;
			}
		});
	}
});
$(document).ready(function () {
	$('#fileupload').fileupload({
		url: '${basePath}common/uploadSignPicture.xhtml',
        dataType: 'json',
        formData: {"relatedId":"$!tlid","fileTag":"timelineAD"},
        done: function (e, data) {
        	if (data.result.success) {
        		$("#picInfo").val(data.result.retval.fileurl)
        		 $("#files").html($('<img>').attr("src", "${staticPath}" + data.result.retval.fileurl).attr("width","160").attr("hight","90"));
        	} else {
        		alert(data.result.errmsg);
        	}
        },
        progressall: function (e, data) {
        	$("#progress").show();
        	var progress = parseInt(data.loaded / data.total * 100, 10);
        	$('#progress .progress-bar').html(progress + "%");
	        $('#progress .progress-bar').css(
	            'width',
	            progress + '%'
	        );
	    }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
	
	
	$("#timelineForm").validate({
		rules: {
			tlTitle: "required",
			startMin: {
				required:true,
				maxlength:3,
				max:$!duration
			},
			startSec: {
				required:true,
				maxlength:2,
				max:59
			},
			endMin: {
				required:true,
				maxlength:3,
				max:$!duration
			},
			endSec: {
				required:true,
				maxlength:2,
				max:59
			}
		},
		messages: {
			tlTitle: "标题不能为空",
			startMin: {
				required:"开始分不能为空",
				max:"开始分不能大于视频时长",
				maxlength:"开始分不能超出3位"
			},
			startSec: {
				required:"开始秒不能为空",
				max:"开始秒不能大于59",
				maxlength:"开始秒不能超出2位数"
			},
			endMin: {
				required:"结束分不能为空",
				max:"结束分不能大于视频时长",
				maxlength:"结束分不能超出3位数"
			},
			endSec: {
				required:"结束秒不能为空",
				max:"结束秒不能大于59",
				maxlength:"结束秒不能超出2位数"
			}
		},
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			error.addClass( "help-block" );
			element.parents( ".col-sm-6" ).addClass( "has-feedback" );
			element.parents( ".col-sm-3" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-6" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).parents( ".col-sm-3" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-6" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).parents( ".col-sm-3" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
	});
});
</script>