<input type="hidden" name="tlid" id="tlid" value="$!tlid">
<input type="hidden" name="videoid" id="videoid" value="$!video.videoid">
<input type="hidden" name="showid" id="showid" value="$!show.showid">
#foreach($entry in $textMap.entrySet())
<div class="form-group">
	<label class="col-sm-3 control-label" for="$entry.value">$entry.value</label>
	<div class="col-sm-6">
		<input type="text" class="form-control" id="$entry.key" name="$entry.key" value="$!info.get($entry.key)" placeholder="$!entry.value" />
	</div>
</div>
#end
#set($thumbnailCardDesc="卡片是否收起")
<div class="form-group">
	<label class="col-sm-3 control-label" for="$!thumbnailCardDesc">$!thumbnailCardDesc</label>
	<div class="col-sm-2">
		<input type="checkbox" class="form-control" id="thumbnailCard" value="Y" name="thumbnailCard" value="$!info.thumbnail" #if($VmUtils.equals($info.thumbnailCard, 'Y'))checked="checked"#end placeholder="$!thumbnailCardDesc" />
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label" for="开始时间">开始时间</label>
	<div class="col-sm-3">
		<input type="number" max="$duration" maxlength="3" class="form-control" id="startMin" name="startMin" value="$!info.startMin" placeholder="开始分" />
	</div>
	<div class="col-sm-3">
		<input type="number" max="59" maxlength="2" class="form-control" id="startSec" name="startSec" value="$!info.startSec" placeholder="开始秒" />
	</div>
</div>
<div class="form-group">
	<label class="col-sm-3 control-label" for="结束时间">结束时间</label>
	<div class="col-sm-3">
		<input type="number" max="$duration" maxlength="3" class="form-control" id="endMin" name="endMin" value="$!info.endMin" placeholder="结束分" />
	</div>
	<div class="col-sm-3">
		<input type="number" max="59" maxlength="2" class="form-control" id="endSec" name="endSec" value="$!info.endSec" placeholder="结束秒" />
	</div>
</div>

#if($uploadPic)
	<div class="form-group">
		<label class="col-sm-3 control-label" for="$picInfoDsc">$picInfoDsc</label>
		<div class="col-sm-6">
			<input type="hidden" class="form-control" id="picInfo" name="picInfo" value="$!info.picInfo">
			<p class="btn btn-success fileinput-button">
				<i class="glyphicon glyphicon-plus"></i>
				<span>浏览图片...</span><input type="file" name="fileupload" id="fileupload">
			</p>
		</div>
	</div>
	<div id="progress" class="progress collapse">
		<div class="progress-bar progress-bar-success progress-bar-striped"></div>
	</div>
	<div id="files" class="files">
		#if($VmUtils.isNotBlank($info.picInfo))
		<img alt="" src="${staticPath}$info.picInfo" width="40%" height="40%">
		#end
	</div>
#end