<div class="modal-header item-model">
	<h2 class="modal-title icon_QA" id="myModalLabel">添加修改QA消息</h2>
</div>
<div class="modal-body" id="modalbody">
<form id="timelineForm" method="post" class="form-horizontal" action="">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h5><strong>QA基础信息</strong></h5>
		</div>
		<div class="panel-body">
			#set($uploadPic=true)
			#set($textMap={"tlTitle":"QA标题","tlDesc":"QA说明文字"})
			#set($picInfoDsc="图片")
			#parse("admin/video/timeline/timeline_common.vm")
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="答案揭晓时间">答案揭晓时间</label>
				<div class="col-sm-3">
					<input type="number" max="$duration" maxlength="3" class="form-control" id="showAnswerMin" name="showAnswerMin" value="$!info.showAnswerMin" placeholder="揭晓分" />
				</div>
				<div class="col-sm-3">
					<input type="number" max="59" maxlength="2" class="form-control" id="showAnswerSec" name="showAnswerSec" value="$!info.showAnswerSec" placeholder="揭晓秒" />
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<h5><strong>QA扩展信息</strong><span class="float-right" id="add-option">+添加选项</span></h5>
		</div>
		<div class="panel-body">
			<div id="optionInfo">
				#set($opiontsText="选项")
				#if(!$VmUtils.isEmptyList($extraList))
				#foreach($extraQA in $extraList)
				<div class="qa-option-group">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="$opiontsText">$opiontsText</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="optionValue" id="optionValue_$foreach.count" value="$!extraQA.optionValue" placeholder="答案选项" />
						</div>
						<div class="col-sm-3">
							<input type="radio" name="answer" id="answer_$foreach.count" #if($VmUtils.equals($extraQA.answer, "Y"))checked="checked"#end value="answer_$foreach.count">
							<input type="hidden" name="answerDesc" id="answerDesc_$foreach.count" value="answer_$foreach.count"/>正确答案
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-6">
							<input type="url" class="form-control" name="h5url" id="h5url_$foreach.count" value="$!extraQA.h5url" placeholder="跳转URL" />
						</div>
						<div class="col-sm-3">
							<input type="number" class="form-control" name="extraSortNum"  id="extraSortNum_$foreach.count" value="$!extraQA.extraSortNum" placeholder="排序" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-6"><span class="btn btn-warning fileinput-button">
							<i class="glyphicon glyphicon-plus"></i>
							<span>浏览图片QA选中后的跳转...</span><input type="file" name="qaExtraUpload" id="qaExtraUpload_$foreach.count" data-value="$foreach.count"></span>
							<input type="hidden" class="form-control" name="qaPicInfo" id="qaPicInfo_$foreach.count" value="$!extraQA.picInfo">
						</div>
						<div class="col-sm-2"><span class="btn btn-danger del-option">删除选项</span></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-9">
							<div class="progress collapse" id="progress_$foreach.count">
								<div class="progress-bar progress-bar-success progress-bar-striped"></div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-6">
							<div id="files_$foreach.count" class="files">
								#if($VmUtils.isNotBlank($extraQA.picInfo))
								<img alt="" src="${staticPath}$extraQA.picInfo" width="40%" height="40%">
								#end
							</div>
						</div>
					</div>
				</div>
				#end
			#else
				#foreach($i in [1..3])
				<div class="qa-option-group">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="$opiontsText">$opiontsText</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="optionValue" id="optionValue_$i" value="" placeholder="答案选项" />
						</div>
						<div class="col-sm-3">
							<input type="radio" name="answer"  value="answer_$i">
							<input type="hidden" name="answerDesc" value="answer_$i"/>正确答案
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-6">
							<input type="url" class="form-control" name="h5url" id="h5url_$i" value="" placeholder="跳转URL" />
						</div>
						<div class="col-sm-3">
							<input type="number" class="form-control" name="extraSortNum" id="extraSortNum_$i" value="" placeholder="排序" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-6"><span class="btn btn-warning fileinput-button">
							<i class="glyphicon glyphicon-plus"></i>
							<span>浏览QA选中后跳转的图片...</span><input type="file" name="qaExtraUpload" id="qaExtraUpload_$i" data-value="$i"></span>
							<input type="hidden" class="form-control" id="qaPicInfo_$i" name="qaPicInfo" value="$!extraQA.picInfo">
						</div>
						<div class="col-sm-2"><span class="btn btn-danger del-option">删除选项</span></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-9">
							<div class="progress collapse" id="progress_$i" >
								<div class="progress-bar progress-bar-success progress-bar-striped"></div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-6">
							<div class="files" id="files_$i" >
							</div>
						</div>
					</div>
				</div>
				#end
			#end
		</div>
		</div>
	</div>
	<div class="modal-footer ">
		<div class="col-sm-9 col-sm-offset-4 alert-dismissible">
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			<button type="submit" class="btn btn-success">确定</button>
		</div>
	</div>
</form>
</div>
<script type="text/javascript">

$.validator.setDefaults({
	submitHandler: function (form) {
		if ($("#picInfo").val() == '') {
			alert("请上传图片")
			return false;
		}
		if (!$("input:radio[name=answer]:checked").val()) {
			alert("请勾选正确答案")
			return false;
		}
		
		var params = $(form).serialize();
		$.post('${houtaiPath}admin/video/saveTimelineQA.xhtml',params,function(result){
			eval(result);
			if(data.success) {
				location.reload();
			} else {
				alert(data.errmsg);
				return false;
			}
		});
	}
});
$(document).ready(function () {
	## 添加选项
	$("#add-option").click(function(){
		var div = $("#optionInfo :first").clone(false);
		var randomid = getRandom();
		if ($("#optionInfo :first input[name='answer']:checked").val()) {
			$("#optionInfo :first input[name='answer']").attr("checked","checked");
		}
		$(div).find("input[name='optionValue']").attr("id", "optionValue_" + randomid).val("");
		$(div).find("input[name='answer']").val("answer_" + randomid).attr("checked",false);
		$(div).find("input[name='answerDesc']").val("answerDesc_" + randomid).val("answer_" + randomid);
		$(div).find("input[name='h5url']").attr("id", "h5url_" + randomid).val("");
		$(div).find("input[name='extraSortNum']").attr("id", "extraSortNum_" + randomid).val("");
		$(div).find("input[name='qaExtraUpload']").attr("id", "qaExtraUpload_" + randomid).attr("data-value", randomid);
		$(div).find("input[name='qaPicInfo']").attr("id", "qaPicInfo_" + randomid).val("");
		$(div).find("div.files").attr("id", "files_" + randomid).html("");
		$(div).find("div.progress").attr("id", "progress_" + randomid);
		$(div).appendTo("#optionInfo");
		$(div).find("input[name='qaExtraUpload']").fileupload({
			dropZone:$(div),
			url: '${basePath}common/uploadSignPicture.xhtml',
	        dataType: 'json',
	        formData: {"relatedId":"$!tlid","fileTag":"timelineQA"},
	        done: function (e, data) {
	        	if (data.result.success) {
	        		$("#qaPicInfo_" + $(this).attr("data-value")).val(data.result.retval.fileurl)
	        		$("#files_" + $(this).attr("data-value")).html($('<img>').attr("src", "${staticPath}" + data.result.retval.fileurl).attr("width","160").attr("hight","90"));
	        	} else {
	        		alert(data.result.errmsg);
	        	}
	        },
	        progressall: function (e, data) {
	        	$("#progress_" + $(this).attr("data-value")).show();
	        	var progress = parseInt(data.loaded / data.total * 100, 10);
	        	$("#progress_" + $(this).attr("data-value") + " .progress-bar").html(progress + "%");
		        $("#progress_" + $(this).attr("data-value") + " .progress-bar").css(
		            'width',progress + '%'
		        );
		    }
	    }).prop('disabled', !$.support.fileInput)
	        .parent().addClass($.support.fileInput ? undefined : 'disabled')
	});
	## 删除选项
	$(".del-option").click(function(){
		if ($(".del-option").length <= 2) {
			alert("QA最少需要2两个选项")
			return false;
		}
		$(this).parents(".qa-option-group").remove();
	});
	
	$('#fileupload').fileupload({
		url: '${basePath}common/uploadSignPicture.xhtml',
        dataType: 'json',
        formData: {"relatedId":"$!tlid","fileTag":"timeline"},
        done: function (e, data) {
        	if (data.result.success) {
        		$("#picInfo").val(data.result.retval.fileurl)
        		$("#files").html($('<img>').attr("src", "${staticPath}" + data.result.retval.fileurl).attr("width","160").attr("hight","90"));
        	} else {
        		alert(data.result.errmsg);
        	}
        },
        progressall: function (e, data) {
        	$("#progress").show();
        	var progress = parseInt(data.loaded / data.total * 100, 10);
        	$('#progress .progress-bar').html(progress + "%");
	        $('#progress .progress-bar').css(
	            'width',
	            progress + '%'
	        );
	    }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
	
	
	$("input[name=qaExtraUpload]").each(function(i, item){
		$(item).fileupload({
			dropZone:$(item),
			url: '${basePath}common/uploadSignPicture.xhtml',
	        dataType: 'json',
	        formData: {"relatedId":"$!tlid","fileTag":"timelineQA"},
	        done: function (e, data) {
	        	if (data.result.success) {
	        		$("#qaPicInfo_" + $(item).attr("data-value")).val(data.result.retval.fileurl)
	        		$("#files_" + $(item).attr("data-value")).html($('<img>').attr("src", "${staticPath}" + data.result.retval.fileurl).attr("width","160").attr("hight","90"));
	        	} else {
	        		alert(data.result.errmsg);
	        	}
	        },
	        progressall: function (e, data) {
	        	$("#progress_" + $(item).attr("data-value")).show();
	        	var progress = parseInt(data.loaded / data.total * 100, 10);
	        	$("#progress_" + $(item).attr("data-value") + " .progress-bar").html(progress + "%");
		        $("#progress_" + $(item).attr("data-value") + " .progress-bar").css(
		            'width',progress + '%'
		        );
		    }
	    }).prop('disabled', !$.support.fileInput)
	        .parent().addClass($.support.fileInput ? undefined : 'disabled');
	});
	
	
	$("#timelineForm").validate({
		rules: {
			tlTitle: "required",
			tlDesc: "required",
			optionValue:"required",
			picInfo: "required",
			showAnswerMin:"required",
			showAnswerSec:"required",
			startMin: {
				required:true,
				maxlength:3,
				max:$!duration
			},
			startSec: {
				required:true,
				maxlength:2,
				max:59
			},
			endMin: {
				required:true,
				maxlength:3,
				max:$!duration
			},
			endSec: {
				required:true,
				maxlength:2,
				max:59
			},
			
		},
		messages: {
			tlTitle: "标题不能为空",
			tlDesc: "注释不能为空",
			picInfo: "图片不能为空",
			startMin: {
				required:"开始分不能为空",
				max:"开始分不能大于视频时长",
				maxlength:"开始分不能超出3位"
			},
			startSec: {
				required:"开始秒不能为空",
				max:"开始秒不能大于59",
				maxlength:"开始秒不能超出2位数"
			},
			endMin: {
				required:"结束分不能为空",
				max:"结束分不能大于视频时长",
				maxlength:"结束分不能超出3位数"
			},
			endSec: {
				required:"结束秒不能为空",
				max:"结束秒不能大于59",
				maxlength:"结束秒不能超出2位数"
			},
			optionValue:"选项不能为空",
			showAnswerMin:"答案揭晓时间不能为空",
			showAnswerSec:"答案揭晓时间不能为空"
		},
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			error.addClass( "help-block" );
			element.parents( ".col-sm-6" ).addClass( "has-feedback" );
			element.parents( ".col-sm-3" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-6" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).parents( ".col-sm-3" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-6" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).parents( ".col-sm-3" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
	});
});
</script>