<!DOCTYPE html>
<html lang="zh-CN">
<head>
#parse("include/include_head.vm")
<title>Aube后台节目时间线管理</title>
</head>
<body>
#parse("include/include_header.vm")
<div class="section-preview">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="${basePath}admin/show/list.xhtml">Aube 首页</a></li>
  			<li><a href="${basePath}admin/video/list.xhtml?showid=$!video.showid">$!show.showName</a></li>
  			<li class="active">时间线设置</li>
		</ol>
		
		#set($tabsMap={'all':"全部",'interaction':'互动','mc':'多镜头','ad':'物品'})
		<ul class="nav nav-tabs">
			#foreach($tabsEntry in $tabsMap.entrySet())
			<li role="presentation" class="#if($VmUtils.equals($tabsEntry.key, $tabsType))active#end">
				<a href="${houtaiPath}admin/video/timelineList.xhtml?videoid=$!video.videoid&tabsType=$tabsEntry.key" >
      				$tabsEntry.value</span>
    			</a>
			</li>
			#end
		</ul>
		#set($tlTypeMap={'MULTICAMERA':'多镜头','QA':'问答','VOTE':'投票','VS':'VS','INFO':'信息',"AD":'物品'})
		<div class="panel panel-warning">
			<div class="panel-heading">
				<ul class="nav nav-pills">
				#foreach($tlType in $tabs2TypeListMap.get($tabsType))
					<li role="presentation" class="active item-timeline-type">
						<a class="icon_$!tlType" data-toggle="modal" data-target='#timelineModal' href="${basePath}admin/video/getTimeline.xhtml?videoid=$params.videoid&tlType=$!tlType">$!tlTypeMap.get($tlType)</a>
					</li>
				#end
				</ul>
			</div>
			<div class="panel-body">
				<div class="alert alert-success" role="alert">
					#if($VmUtils.isNotBlank($video.filePath))
					<h5>视频已上传</h5>
					#else
					<span class="btn btn-warning fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>上传视频...</span><input type="file" id="videoupload" name="videoupload">
					</span>
					<div id="progress" class="progress collapse">
						<div class="progress-bar progress-bar-success progress-bar-striped"></div>
					</div>
					#end
				</div>
			</div>
			<table class="table" id="timelineTable">
			</table>
		</div>
	</div> 
</div>
<!-- Modal -->
<div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="timelineModalLabel" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	</div>
</div>
<div class="modal fade" id="modify-timeModal" tabindex="-1" role="dialog" aria-labelledby="modify-timeModalLabel" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="panel panel-info" id="modify-time-div">
				<div class="panel-heading">
					<h5><strong id="modify-panel-title">修改时间</strong></h5>
				</div>
				<div class="panel-body">
				<form id="modifyTimeForm" method="post" class="form-horizontal" action="">
					<input type="hidden" id="mtlid" name="mtlid" value="$!video.tlid"/>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="开始时间">开始时间</label>
						<div class="col-sm-3">
							<input type="number" max="$duration" maxlength="3" class="form-control" id="mStartMin" name="mStartMin" value="" placeholder="开始分" />
						</div>
						<div class="col-sm-3">
							<input type="number" max="59" maxlength="2" class="form-control" id="mStartSec" name="mStartSec" value="" placeholder="开始秒" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="结束时间">结束时间</label>
						<div class="col-sm-3">
							<input type="number" max="$duration" maxlength="3" class="form-control" id="mEndMin" name="mEndMin" value="" placeholder="结束分" />
						</div>
						<div class="col-sm-3">
							<input type="number" max="59" maxlength="2" class="form-control" id="mEndSec" name="mEndSec" value="" placeholder="结束秒" />
						</div>
					</div>
					<div class="modal-footer ">
						<div class="col-sm-9 col-sm-offset-4 alert-dismissible">
							<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
							<button type="submit" class="btn btn-success">确定</button>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>

#parse("include/include_bottom.vm")
<script type="text/javascript">
function reloadTimelineTable() {
	$("#timelineTable").load("${houtaiPath}admin/video/ajax/timelineList.xhtml",{tabsType:"$!tabsType"}, function(){});
}
function removeTimeline(tlid) {
	$.post("${houtaiPath}admin/video/timeline/removeTimeline.xhtml",{"tlid":tlid}, function(){reloadTimelineTable();});
}


$(function(){
	$.validator.setDefaults({
		submitHandler: function (form) {
			var params = $(form).serialize();
			$.post('${houtaiPath}admin/video/timeline/modifyTime.xhtml',params,function(result){
				eval(result);
				if(data.success) {
					$('#modify-timeModal').modal('hide');
					reloadTimelineTable();
				} else {
					alert(data.errmsg);
					return false;
				}
			});
		}
	});
});


$(document).ready(function () {
	$('#timelineModal').on('hide.bs.modal', function () {
		$('#timelineModal').removeData('bs.modal');
	});
	reloadTimelineTable();
	$('#videoupload').fileupload({
		url: '${basePath}admin/upload/video/uploadSignVideo.xhtml',
        dataType: 'json',
        formData: {"relatedId":"$!video.videoid","fileTag":"video","fileType":"video"},
        done: function (e, data) {
        	if (data.result.success) {
        		$("#picInfo").val(data.result.retval.fileurl)
        		 $("#files").html($('<img>').attr("src", "${staticPath}" + data.result.retval.fileurl).attr("width","160").attr("hight","90"));
        	} else {
        		alert(data.result.errmsg);
        	}
        },
        progressall: function (e, data) {
        	$("#progress").show();
        	var progress = parseInt(data.loaded / data.total * 100, 10);
        	$('#progress .progress-bar').html(progress + "%");
	        $('#progress .progress-bar').css(
	            'width',
	            progress + '%'
	        );
	    }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
	
	
    $( "#draggable a" ).draggable({
      appendTo: "body",
      helper: "clone"
    });
    $( "#droppable a" ).droppable({
    	activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
        	$( this ).addClass( "ui-state-highlight" )
          $( this ).find( ".placeholder" ).remove();
          $( "<a></a>" ).text( ui.draggable.text() ).appendTo( this );
        }
    }).sortable({
      items: "a:not(.placeholder)",
      sort: function() {
        // gets added unintentionally by droppable interacting with sortable
        // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
        $( this ).removeClass( "ui-state-default" );
      }
    });
    
    
    
    $("#modifyTimeForm").validate({
		rules: {
			mStartMin: {
				required:true,
				maxlength:3,
				max:$!duration
			},
			mStartSec: {
				required:true,
				maxlength:2,
				max:59
			},
			mEndMin: {
				required:true,
				maxlength:3,
				max:$!duration
			},
			mEndSec: {
				required:true,
				maxlength:2,
				max:59
			}
		},
		messages: {
			mStartMin: {
				required:"开始分不能为空",
				max:"开始分不能大于视频时长",
				maxlength:"开始分不能超出3位"
			},
			mStartSec: {
				required:"开始秒不能为空",
				max:"开始秒不能大于59",
				maxlength:"开始秒不能超出2位数"
			},
			mEndMin: {
				required:"结束分不能为空",
				max:"结束分不能大于视频时长",
				maxlength:"结束分不能超出3位数"
			},
			mEndSec: {
				required:"结束秒不能为空",
				max:"结束秒不能大于59",
				maxlength:"结束秒不能超出2位数"
			}
		},
		errorElement: "em",
		errorPlacement: function ( error, element ) {
			error.addClass( "help-block" );
			element.parents( ".col-sm-3" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-3" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-3" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
	});
});
</script>
</body>
</html>