<!DOCTYPE html>
<html lang="zh-CN">
<head>
#parse("include/include_head.vm")
<title>Aube后台节目时间线管理</title>
</head>
<body>
#parse("include/include_header.vm")
<div class="section-preview">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="${basePath}admin/show/list.xhtml">Aube 首页</a></li>
  			<li><a href="${basePath}admin/video/list.xhtml?showid=$!video.showid">$!show.showName</a></li>
  			<li class="active">时间线设置</li>
		</ol>
		
		#set($tabsMap={'all':"全部",'interaction':'互动','mc':'多镜头','goods':'物品'})
		<ul class="nav nav-tabs">
			#foreach($tabsEntry in $tabsMap.entrySet())
			<li role="presentation" class="#if($VmUtils.equals($tabsEntry.key, $tabsType))active#end">
				<a href="${houtaiPath}admin/video/timelineList.xhtml?videoid=$!video.videoid&tabsType=$tabsEntry.key" >
      				$tabsEntry.value</span>
    			</a>
			</li>
			#end
		</ul>
		#set($tlTypeMap={'MULTICAMERA':'镜头','QA':'问答','VOTE':'投票','VS':'VS','INFO':'信息',"GOODS":'物品'})
		<div class="panel panel-warning">
			<div class="panel-heading">
				<ul class="nav nav-pills">
				#foreach($tlType in $tabs2TypeListMap.get($tabsType))
					<li role="presentation" class="active item-timeline-type">
						<a class="icon_$!tlType" data-toggle="modal" data-target='#timelineModal' href="${basePath}admin/video/getTimeline.xhtml?videoid=$params.videoid&tlType=$!tlType">$!tlTypeMap.get($tlType)</a>
					</li>
				#end
				</ul>
			</div>
			<div class="panel-body">
				<div class="alert alert-success" role="alert">
					#if($VmUtils.isNotBlank($video.filePath))
					<h5>视频已上传</h5>
					#else
					<span class="btn btn-warning fileinput-button">
						<i class="glyphicon glyphicon-plus"></i>
						<span>上传视频...</span><input type="file" id="videoupload" name="videoupload">
					</span>
					<div id="progress" class="progress collapse">
						<div class="progress-bar progress-bar-success progress-bar-striped"></div>
					</div>
					#end
				</div>
			</div>
			<table class="table" id="timelineTable">
			#parse("admin/video/timeline/detail/timeline_table.vm")
			</table>
		</div>
	</div> 
</div>
<!-- Modal -->
<div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="timelineModalLabel"  aria-hidden="false" >
	<div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	</div>
</div>
#parse("include/include_bottom.vm")
<script type="text/javascript">
$(document).ready(function () {
	$('#timelineModal').on('hide.bs.modal', function () {
		$('#timelineModal').removeData('bs.modal');
	});
	reloadTimelineTable();
	$('#videoupload').fileupload({
		url: '${basePath}admin/upload/video/uploadSignVideo.xhtml',
        dataType: 'json',
        formData: {"relatedId":"$!video.videoid","fileTag":"video","fileType":"video"},
        done: function (e, data) {
        	if (data.result.success) {
        		$("#picInfo").val(data.result.retval.fileurl)
        		 $("#files").html($('<img>').attr("src", "${staticPath}" + data.result.retval.fileurl).attr("width","160").attr("hight","90"));
        	} else {
        		alert(data.result.errmsg);
        	}
        },
        progressall: function (e, data) {
        	$("#progress").show();
        	var progress = parseInt(data.loaded / data.total * 100, 10);
        	$('#progress .progress-bar').html(progress + "%");
	        $('#progress .progress-bar').css(
	            'width',
	            progress + '%'
	        );
	    }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
	
	
    $( "#draggable a" ).draggable({
      appendTo: "body",
      helper: "clone"
    });
    $( "#droppable a" ).droppable({
    	activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
        	$( this ).addClass( "ui-state-highlight" )
          $( this ).find( ".placeholder" ).remove();
          $( "<a></a>" ).text( ui.draggable.text() ).appendTo( this );
        }
    }).sortable({
      items: "a:not(.placeholder)",
      sort: function() {
        // gets added unintentionally by droppable interacting with sortable
        // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
        $( this ).removeClass( "ui-state-default" );
      }
    });
    
    function reloadTimelineTable() {
    	$("#timelineTable").load("${houtaiPath}admin/video/ajax/timelineList.xhtml",{tabsType:"$!tabsType"}, function(){});
    }
});
</script>
</body>
</html>