<!DOCTYPE html>
<html lang="zh-CN">
<head>
#parse("include/include_head.vm")
<title>Aube后台管理</title>
</head>
<body>
#parse("include/include_header.vm")
<div class="section-preview">
	<div class="container">
		<div class="row" >
    	</div>
    	<div class="row">
    		#foreach($show in $showList)
    		<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="show-list">
					<img src="$!{staticPath}$!show.picInfo" alt="$show.showName">
					</div>
					<div class="caption">
						<h3>$show.showName</h3>
						<p>$show.showDesc</p>
						<p><a data-toggle='modal' data-target='#showModal' href="${houtaiPath}admin/show/getShowDetail.xhtml?showid=$show.realId()" class="btn btn-danger" role="button">修改</a></p>
					</div>
				</div>
			</div>
    		#end
    		<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="http://pro.aube-tv.com/images/201511/common/s_44e14403_1514c3371b2__7fff.png" alt="新建">
					<div class="caption">
						<h3>新增节目单</h3>
						<p></p>
						<p><a class="btn btn-success" data-toggle='modal' data-target='#showModal' href="${houtaiPath}admin/show/getShowDetail.xhtml" role="button">新增</a></p>
					</div>
				</div>
			</div>
    	</div>
	</div> 
</div>
<!-- Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel"  aria-hidden="false" >
	<div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	</div>
</div>
#parse("include/include_bottom.vm")
<script type="text/javascript">
$(document).ready(function () {
});
</script>
</body>
</html>