<!DOCTYPE html>
<html lang="zh-CN">
<head>
#parse("include/include_head.vm")
<title>Aube后台节目时间线管理</title>
</head>
<body>
#parse("include/include_header.vm")
<div class="section-preview">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="${basePath}admin/show/list.xhtml">$!show.showName</a></li>
  			<li><a href="${basePath}admin/video/list.xhtml?showid=$!video.showid">$!video.title</a></li>
  			<li class="active">时间线设置</li>
		</ol>
		<div class="row">
			<div class="list-group pull-left visible-inline-block col-lg-3 item-timeline-type">
				<div class="text-center">
					<a href="#" class="list-group-item active">选择需要的项目拖到右边</a>
				</div>
				<div class="draggable" id="draggable">
					<a class="list-group-item icon_MULTICAMERA" href="#" >多镜头</a>
					<a class="list-group-item icon_QA" href="#" >QA</a>
					<a class="list-group-item icon_VOTE" href="#">投票</a>
					<a class="list-group-item icon_VS" href="#">VS</a>
					<a class="list-group-item icon_INFO" href="#">信息</a>
		  			<a class="list-group-item icon-AD" href="#">广告</a>
				</div>
			</div>
			<div class="list-group visible-inline-block col-lg-9 item-timeline-type">
				<div class="text-center">
					<a href="#" class="list-group-item active">拖动需要的项目</a>
				</div>
	  			<div class="draggable" id="droppable">
	  				<a href="#" class="list-group-item ">选择需要的项目拖到右边</a>
	  			</div>
			</div>
		</div>
		
</ul>
	</div> 
	
</div>
<!-- Modal -->
<div class="modal fade" id="timelineModal" tabindex="-1" role="dialog" aria-labelledby="timelineModalLabel"  aria-hidden="false" >
	<div class="modal-dialog" role="document">
		<div class="modal-content"></div>
	</div>
</div>
#parse("include/include_bottom.vm")
<script type="text/javascript">
$(document).ready(function () {
	$('#timelineModal').on('hide.bs.modal', function () {
		$('#timelineModal').removeData('bs.modal');
	});
    $( "#draggable a" ).draggable({
      appendTo: "body",
      helper: "clone"
    });
    $( "#droppable a" ).droppable({
    	activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
        	$( this ).addClass( "ui-state-highlight" )
          $( this ).find( ".placeholder" ).remove();
          $( "<a></a>" ).text( ui.draggable.text() ).appendTo( this );
        }
    }).sortable({
      items: "a:not(.placeholder)",
      sort: function() {
        // gets added unintentionally by droppable interacting with sortable
        // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
        $( this ).removeClass( "ui-state-default" );
      }
    });
});
</script>
</body>
</html>