<header>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand " href="${basePath}admin/show/list.xhtml"><dfn>Aube</dfn>管理系统</a>
		</div>
		<div class="navbar-collapse collapse" role="navigation"
			aria-expanded="false" style="height: 1px;">
			<ul class="nav navbar-nav">
				<li></li>
			</ul>
			<ul class="nav navbar-nav navbar-right ">
				<li><a href="#">用户名【退出】</a></li>
			</ul>
		</div>
	</div>
</div>
</header>